.warnings {
  background-color: var(--color-grey1);
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  border-radius: 8px;
  color: var(--color-grey7);
  gap: 12px;
  margin-bottom: 0.5rem;
}

.warnings__header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.warnings__sentence {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.warnings__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

.warnings__row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.warnings__column {
  width: 50%;
}

.warnings__warning {
  display: flex;
  gap: 4px;
  font-size: 12px;
  line-height: 16px;
}

.divider {
  border: 0.0625rem solid var(--color-grey3);
  width: 100%;
}

@media (max-width: 480px) {
  .warnings__row {
    flex-direction: column;
    gap: 8px;
  }

  .warnings__column {
    width: 100%;
    position: relative;
  }

  .warnings__warning p:last-child {
    text-indent: 2rem;
    position: absolute;
  }
}
