.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container div {
  background-color: var(--color-grey4);
}

.arm {
  width: 42%;
  height: 0.125rem;
}

.main {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
