.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 24px;
  width: 381px;
  height: 252px;
  border-radius: 8px;
  background-color: var(--color-white);
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  color: var(--color-success);
  height: 2.5rem;
  width: 2.5rem;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
