.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 39%;
  border-radius: 8px;
  background-color: var(--color-white);
  gap: 26px;
  height: fit-content;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-grey4);
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.daysContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.day {
  font-weight: 400;
  font-size: 17px;
  color: var(--color-grey4);
  padding: 8px;
}

.grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grey4);
  padding: 8px;
  border-radius: 4px;
}

.activeTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
}

.activeDay {
  font-weight: 400;
  font-size: 17px;
  padding: 8px;
  color: var(--color-grey7);
}

.activeCell {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  color: var(--color-grey9);
  cursor: pointer;
}

.selectedCell {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-primary);
}

/* ========== TABLET MEDIA QUERIES ========== */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 75%;
    padding: 10px;
    gap: 13px;
  }

  .activeTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  .calendar {
    gap: 8px;
  }

  .activeDay {
    font-weight: 400;
    font-size: 15px;
    padding: 6px;
    color: var(--color-grey7);
  }

  .cell {
    font-size: 14px;
  }

  .activeCell {
    font-size: 14px;
  }
}

/* ========== MOBILE MEDIA QUERIES ========== */

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0px;
    gap: 10px;
    margin-bottom: 20px;
  }

  .activeTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }

  .calendar {
    gap: 6px;
  }

  .activeDay {
    font-weight: 400;
    font-size: 12px;
    padding: 6px;
    color: var(--color-grey7);
  }

  .cell {
    font-size: 10px;
  }

  .activeCell {
    font-size: 10px;
  }
}
