.container {
  display: flex;
  flex-direction: column;
  padding: 40px 32px 32px;
  margin: 48px 0px 48px;
  gap: 20px;
  width: 45%;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.title {
  height: 32px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  font-weight: 400;
  font-size: 14px;
}

.questionContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.divider {
  border: 0.0625rem solid var(--color-grey3);
  width: 100%;
}