.my-data {
  background-color: var(--color-white);
  width: 65%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 40px 32px;
  margin: auto;
  gap: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.my-data__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.my-data__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.divider {
  border: 0.0625rem solid var(--color-grey3);
  width: 100%;
}