.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey4);
}
