.banner {
  background: var(--color-grey2);
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 8px;
}

.text {
  font-size: 12px;
}

.close {
  position: absolute;
  right: 2%;
  color: var(--color-grey7);
  cursor: pointer;
}
